@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@400;700&family=Poppins:wght@400;500;600;700;800;900&display=swap');
:root {
    --primary-text: 'Bona Nova';
    --secondary-text: 'Poppins';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('./assets/images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}