:root {
    --svgdasharray: 99999999;
    --svgdashoffset: 99999999;
}

.razorpay-payment-button {
    a {
        background-color: #7877EE !important;
        border-radius: 20px 3px 20px 3px !important;
        font-size: 12px !important;
        height: unset !important;
        padding: 10px 40px !important;
        border: none !important;
        font-family: var(--secondary-text) !important;
        font-style: normal !important;
        box-shadow: 0px 3px 20px #8482f3d2 !important;
        svg {
            display: none !important;
        }
        .PaymentButton-contents {
            padding: 0 !important;
            margin: 0 !important;
            .PaymentButton-text {
                display: block;
                min-height: unset !important;
                line-height: unset !important;
                font-size: 12px !important;
            }
            .PaymentButton-securedBy {
                display: none !important;
            }
        }
    }
}

section {
    display: flex;
    // background-color: antiquewhite;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.heroText {
    font-family: var(--primary-text);
    font-weight: 700;
    font-size: 2.7rem;
    padding: 0px 30px;
    padding-right: 50px;
    color: #1e1d50;
    .orange {
        cursor: pointer;
        color: #F79149;
        position: relative;
        font-family: var(--secondary-text);
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(1.5);
            transform-origin: left;
            height: 10px;
            top: 90%;
            z-index: -1;
            left: 0px;
            background: url('../images/tick.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }
        &:hover::after {
            content: attr(data-message);
            position: absolute;
            top: -50px;
            min-width: 25vw;
            left: 0px;
            text-align: center;
            font-family: var(--secondary-text);
            padding: 10px 15px;
            background-color: #ffd3d391;
            color: #ff5f5f;
            border: 1px solid #ff5f5f;
            border-radius: 5px;
            font-size: 10px;
            font-weight: 600;
        }
    }
    .secondary-text {
        font-family: var(--secondary-text);
        font-size: 1.1rem;
        font-weight: 600;
        margin: 8px auto;
    }
    .blue {
        color: #514ffc;
    }
    .donateBtn {
        background-color: #6e6bf2;
        padding: 10px 40px;
        border: none;
        border-radius: 50px;
        color: white;
        font-family: var(--secondary-text);
        font-weight: 600;
        box-shadow: 0px 3px 20px #8482f3d2;
        cursor: pointer;
    }
}

#formBtn {
    margin-top: 20px;
    width: fit-content;
}

.stats {
    background-color: #7877EE;
    padding: 4rem 1rem;
    min-width: 25%;
    border-radius: 10px;
    color: white;
    box-shadow: 10px 10px 0px #DCDCFF, 20px 20px 0px #E7E7FF;
    font-family: var(--secondary-text);
    font-weight: 600;
    perspective: 1000px;
    transform-style: preserve-3d;
    animation: tilt 1s ease;
    text-align: center;
    .progressBar {
        width: 60%;
        margin: 10px auto;
        position: relative;
        .numbers {
            font-size: 12px;
            font-weight: 400;
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
        }
        svg {
            object-fit: contain;
            height: fit-content;
            width: 100%;
            transition: all 1s ease;
            circle {
                &:last-child {
                    stroke: white;
                    transform: rotateZ(-90deg);
                    transform-origin: center;
                    // stroke-dasharray: 1067;
                    // stroke-dashoffset: 1067;
                    stroke-dasharray: var(--svgdasharray);
                    stroke-dashoffset: var(--svgdasharray);
                    stroke-linecap: round;
                    animation: progress cubic-bezier(0.175, 0.885, 0.32, 1.175) 0.5s 2s forwards;
                }
                &:first-child {
                    stroke: #6867DD;
                    stroke-linecap: round;
                }
            }
        }
    }
}

@keyframes progress {
    to {
        // stroke-dasharray: var(--svgdasharray);
        stroke-dashoffset: var(--svgdashoffset);
    }
}

@keyframes tilt {
    0% {
        transform: scale(1) rotateZ(0deg);
    }
    30% {
        transform: scale(0.95) rotateZ(4deg);
    }
    65% {
        transform: scale(1.05) rotateZ(-4deg);
    }
    100% {
        transform: scale(1) rotateZ( 0deg);
    }
}

.greetText {
    font-family: var(--primary-text);
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    color: #5b5b61;
    font-weight: 700;
}

@media only screen and (max-width:770px) {
    body {
        background-image: none;
        background-color: #fafaff;
        -webkit-touch-callout: none;
        user-select: none;
        -webkit-user-select: none;
        -webkit-focus-ring-color: transparent;
    }
    section {
        padding: 0;
        flex-direction: column-reverse;
        .heroText {
            padding: 10px 20px;
            font-size: 2rem;
            margin: 30px auto;
            .orange {
                font-size: 1.5rem;
                &::before {
                    left: 0;
                }
                &:hover::after {
                    left: 0;
                    width: 75vw;
                }
            }
            .secondary-text {
                font-size: 0.7rem;
            }
            .donateBtn {
                font-size: 0.7rem;
                outline: none;
            }
        }
        .stats {
            width: 90%;
            transform: scale(0.8);
        }
    }
    @keyframes tilt {
        0% {
            transform: scale(0.8) rotateZ(0deg);
        }
        30% {
            transform: scale(0.6) rotateZ(4deg);
        }
        65% {
            transform: scale(0.9) rotateZ(-4deg);
        }
        100% {
            transform: scale(0.8) rotateZ( 0deg);
        }
    }
    .greetText {
        display: none;
    }
}