nav {
    //  background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #e1e3ff58;
    border-radius: 12px;
    backdrop-filter: blur(30px);
    width: 90%;
    margin: 20px auto;
    cursor: pointer;
    .logo {
        display: flex;
        align-items: center;
        img {
            height: 40px;
            width: 40px;
        }
        span {
            color: rgb(49, 11, 92);
            font-size: 20px;
            margin-left: 20px;
            font-weight: 800;
        }
    }
}

@media only screen and (max-width :770px) {
    nav {
        span {
            font-size: 12px;
        }
    }
}